@use '../App'

#home-page > header
    width: 100%
    height: 100vh
    display: flex
    align-items: center
    background: App.$textColor

    video
        width: 100%
        height: 100%
        object-fit: cover

.mega-text
    position: absolute
    color: App.$backgroundColor
    padding-left: 10vw

#circle
    backgroundColor: #f4f4f4
	height: max(38px, 4vw)
	width: max(38px, 4vw)
	borderRadius: 100%
	display: inline-block
	margin: 0px
	padding: 0px

#our-jobs
    padding: 0px 10px
    padding-bottom: 40px
    margin-bottom: 0
    position: relative
    top: 0
    #job-summary
        padding: 40px 10px
        display: flex
        flex-direction: row-reverse
        justify-content: space-between
        align-items: center

        p
            width: 30vw
            margin-top: -60%
            color: App.$backgroundColor


        div
            align-self: flex-end
            width: max(300px, 35vw)
            display: flex
            justify-content: space-between
        
            button
                width: fit-content
                background-color: inherit
                border: none
                font-size: 15px
                display: inline-block
                position: relative

            button::after
                @include App.underlineAnim

            button:hover::after
                @include App.underlineAnimHover
                


@media all and (max-width: 830px) 
    #our-jobs > #job-summary
        flex-direction: column
        align-items: flex-start

        p
            display: none

        div
            align-self: flex-start
                