@use '../App'

#products-page
    width: 100%
    min-height: 100vh
    padding: App.$page-padding
    box-sizing: border-box
    section
        display: flex
        gap:4px
        align-items: center
        justify-content: space-between
        width: 100%
        border-bottom: solid 1px App.$textColor
        padding: 30px 0px
        box-sizing: border-box

        h1
            font-weight: 500
            font-size: max(25px, 1vw)
            margin: 0px
            padding: 0px

        form
            display: flex
            justify-content: space-between
            align-items: center
            width: max-content
            position: relative
            gap: 10px
            
            input
                width: 1px
                background: none
                border: none
                outline: none
                transition: 1s
            button
                background: transparent
                border: none

#menubar
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 15px
    .alter
        display: flex
        justify-content: space-between
        align-items: center
        font-size: 0.9rem
        color: #646362
        cursor: pointer

        button
            border: none
            background: transparent
            display: flex
            align-items: center

.filter-sort-container
    background-color: white
    list-style-type: none
    padding: 0px
    width: max(100px, 20vw)
    display: flex
    flex-direction: column
    justify-content: flex-start
    margin: 0px
    height: max-content
    box-sizing: border-box
    position: absolute
    border-radius: 10px
    box-shadow: 0px 1px 2px rgba(0,0 ,0 ,0.25 ) 
    z-index: 3
    overflow: hidden
    top: 250px

    li
        height: 30px
        width: 100%
        padding: 5% 10%
        cursor: pointer
    li:not(:last-child)
        border-bottom: solid 1px #e4e4e4

#products-section
    margin-top: 15px
    display: grid
    grid-template-columns: repeat(auto-fill, max(250px, 25vw))
    grid-template-rows: 400px
    grid-auto-rows: 400px
    column-gap: 5%
    justify-content: center

