@use '../App'
#our-jobs
    .job-section
        min-height: 70vh
        display: grid
        grid-template-columns: 1fr 2fr
        grid-template-rows: 1fr
        justify-content: space-between
        border-top: solid 1px App.$textColor
        padding-top: 15px

    .job-section:not(.job-section:first-child)
        margin-top: 30px

.category-head, .category-items
    width: 100%
    height: 100%

.category-head
    padding: 0px 10px
    box-sizing: border-box

.item-number-container
    display: flex
    justify-content: space-between
    padding-right: 5%

.client-type
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start 

    h2
        font-size: 2.5rem
        font-weight: 500

    button
        position: relative
        width: 150px
        height: 35px
        border-radius: 20px
        border: solid 1px App.$textColor
        font-size: 0.6rem
        font-weight: 500
        outline: 0
        overflow: hidden
        background: none
        transition: 0.08s ease-in
        -o-transition: 0.08s ease-in
        -ms-transition: 0.08s ease-in
        -moz-transition: 0.08s ease-in
        -webkit-transition: 0.08s ease-in

    button:hover
        color: App.$backgroundColor

    button:before 
        content: ""
        position: absolute
        background: App.$textColor
        bottom: 0
        left: 0
        right: 0
        top: 100%
        z-index: -1
        -webkit-transition: top 0.09s ease-in


    button:hover:before 
      top: 0


.category-items
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr
    border-left: solid 1px App.$textColor
    gap: 5%

.client-card
    box-sizing: border-box
    width: max(28vw, 330px)
    height: 100%
    overflow-x: hidden
    overflow-y: auto
    display: flex
    flex-direction: column
    justify-content: space-between
    cursor: pointer

    figure
        min-height: 80%
        height: 80%
        overflow: hidden
        width: 90%

        img
            width: 100%
            transform: scale(1.1)
            transition: 200ms

    div
        padding: 0px 5%

.client-card:hover figure img
    transform: scale(1.15)

.client-card:hover .info-name
    text-decoration: underline

@media all and (max-width: 1100px) 
    #our-jobs
        .job-section
            display: flex
            flex-direction: column
            gap: 20px

        .job-section>*
            width: 100%

        .category-items
            border-left: none
            width: 100%
            overflow-x: auto

        .client-card > *
            padding: 0px
            margin: 0px



        