@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;400;500;900&display=swap')
$font: 'Hanken Grotesk',sans-serif
$pink: #f9cdcd
$dark: #252422
$light: #f4f4f4
$page-padding: 0px 5%

body
    background-color: $light
    color: $dark
    font-family: $font

a
    color: inherit

.mega-text
    font-size: max(44px, 6.5vw)
    font-weight: 550
    line-height: 80%

    